.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-handler {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >img {
        background-color: transparent;
        height: 30px;
        width: 30px;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        margin-inline: 30px;
        transition: all 0.2s;
        opacity: 0.3;

        &:hover {
            opacity: 1;
            background-color: #00000069;
        }
    }

}



.slider-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    visibility: hidden;


    >.slider-img {
        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(var(--scale-ratio));
            transition: 6.9s cubic-bezier(0.49, 0.09, 0.18, 0.91);
            transform-origin: 100%;
        }

        // transform: translateX(3%) scale(1.05);
        z-index: 1;
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all 1s ease-in-out;
    }


    &-layer {
        width: 50%;
        transform: translateX(3%);
        transition: transform 0.8s cubic-bezier(0.07, 0.26, 0.22, 0.77), opacity 0.5s ease-in-out;
        position: absolute;
        z-index: 4;
        margin: 70px 100px;
        color: white;
        opacity: 0;
    }

    &-title {
        display: flex;
        font-family: 'Courier New', Courier, monospace;
        font-size: 2.5rem;
        // font-weight: bold;
        line-height: 1.5;
    }

    &-content {
        margin-top: 5px;
        line-height: 1.8;
        overflow-y: auto;
    }
}

.slider-item-active {
    visibility: visible;

    >.slider-item {
        &-layer {
            opacity: 1;
            transform: translateX(0%);
            filter: blur(0px);
        }
    }

    >.slider-img {
        >img {
            transform: scale(1);
        }

        transform: scale(1);
        transform: translateX(0%);
        filter: blur(0px);
        opacity: 1;
    }

    .slider-bg-img {
        opacity: 1;
    }
}

.slider-bg-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    opacity: 0;
}

.slider-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    // 防止blur效果露出边缘
    transform: scale(1.1);
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.78) 0%,
            rgba(0, 0, 0, 0.78) 30%,
            rgba(0, 0, 0, 0.3) 100%);

    pointer-events: none; // 避免遮挡交互
}

.slider-dot {
    &-container {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    & {
        cursor: pointer;
        width: 35px;
        height: 40px;
        position: relative;
    }

    &-bg {
        top: 50%;
        width: 35px;
        height: 3px;
        background-color: #ffffff39;
        position: absolute;
    }

    &-active {
        top: 50%;
        width: 100%;
        height: 3px;
        animation-name: progress;
        animation-duration: var(--ani-duration);
        animation-timing-function: linear;
        background-color: #ffffff91;
        position: absolute;
        z-index: 5;
    }
}

@keyframes progress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.slider-state-btn {
    color: white;
    background-color: #00000069;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 4;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    backdrop-filter: blur(10px);

    >img {
        width: 30px;
    }
}


@media screen and (max-width: 768px) {
    .slider-handler {
        display: none;
    }

    .slider-item-layer {
        margin: 10% 1.3rem;
        width: 90%;
    }

    .slider-state-btn {
        display: none;
    }
}